.highlightCompanyName {
  background: linear-gradient(-45deg, #00ef86, #008cff, #ec3258, #fcda00);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-weight: 800;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  20% {
    background-position: 20% 50%;
  }

  40% {
    background-position: 40% 50%;
  }

  60% {
    background-position: 60% 50%;
  }

  80% {
    background-position: 80% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
