@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styledNumberInput.css';

/* ================================================== */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
}
/* ======================================================== */

.ant-btn-primary {
  @apply bg-primary;
}

.ant-btn-default {
  background-color: #ffffff;
  border-color: #d9d9d9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

.ant-form-item-label {
  @apply font-semibold;
}

.ant-switch {
  background: rgba(0, 0, 0, 0.25);
}

.ant-layout .ant-layout-sider-zero-width-trigger {
  top: 34px;
}

.ql-container {
  max-height: 450px;
  min-height: 200px;
  overflow: auto;
  @apply !text-base;
}

.ck-content {
  @apply !bg-background-primary;
  @apply h-80;
  @apply text-base;
  @apply !rounded-xl;
  @apply !border-gray-500;
}

.ck-editor__top {
  @apply !hidden;
}
